.App {
  font-family: sans-serif;
  text-align: center;
}

.widget-item {
  border: 2px solid #333;
  padding: 15px 0;
  margin-bottom: 20px;
}

.authentication {
  margin-bottom: 20px;
  text-align: right;
}

.authentication div {
  display: inline-block;
  margin: 5px
}
